.folder {
  width: 100%;
  height: 100%;
  display: block;

  position: relative;
}

.selection-box {
  display: block;
  position: absolute;
  background-color: rgba(78, 242, 214, 0.2);
  border: 1px solid rgba(200, 123, 255, 0.65);
  box-shadow: 0 0 12px rgba(87, 157, 255, 0.4);
  z-index: 1000;
}

.icons-container {
  position: absolute;
  width: 100%;
  height: calc(100% - 38px);
  overflow: auto;
}

.icons-container.hide-overflow {
  overflow: hidden;
}

.selection-box-container {
  position: absolute;
  width: 100%;
  height: 100%;

  overflow: hidden;
  user-select: none;
}
